  <h3>Signup Form</h3>
  <form action="/signup" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name"><br>

    <%= erb :_the_usual_form %>

    <input type="submit" value="Signup">
  </form>


  <h3>Log-in Form</h3>
  <form action="/login" method="POST">

    <%= erb :_the_usual_form %>

    <input type="submit" value="Login">
  </form>

