  <%= erb :_url, layout: false %>

  <br>

  <%= erb :_errors, layout: false %>

  <br>

  <% if logged_in? %>
    <a href="/logout">Click here to logout</a>
  <% else %>
    <%= erb :_login, layout: false %>
  <% end %>

